svg {
  font-family: arial
}

:root {
  --color-1: #beb9db;
  --color-2: #ffee65;
  --color-3: #7eb0d5;
  --color-4: #fd7f6f; 
  --color-5: #b2e061;
  --color-6: #ffb55a;
  --color-7: #fdcce5;
  --color-8: #8bd3c7;
}

.tick line {
  stroke: black;
  stroke-opacity: 0.0;
  shape-rendering: crispEdges;
}

.axis-label {
  font-size: 12px;
}
.point {
  fill: steelblue;
}
.graph-line {
  stroke: black;
  stroke-width: 1.5;
}
.annotation {
  opacity: 0.5;
}
.annotation-text {
  font-size: 10px;
  fill: black;
  text-anchor: middle;
}

div.tooltip { 
  position: absolute;
  display: flex;
  background-color: #dddddd;
  border: black 1px solid;
  padding: 2px;
  opacity: 0.8;
  border-radius: 10px;
}

.grid-line {
  stroke: #aaaaaa;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}

.floating-bubble {
  position: fixed;
  top: 80px;
  right: 20px;
  background: var(--color-8);
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}


#wait-to-load {
  display:block !important;
}

