
...
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    profiles:
      - redis 
      - frontend
      - backend
      - all

  api:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /workspace
    command: uvicorn app.main:app --host 0.0.0.0 --reload --reload-delay 2 --port 8000
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/workspace
    env_file:
      - .env
    volumes:
      - ./tests/test_data:/workspace/tests/test_data
      - ./app:/workspace/app
    restart: unless-stopped
    depends_on:
      - redis
    profiles:
      - backend
      - all

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile-dev
    env_file:
      - frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    restart: unless-stopped
    depends_on:
      - api
    profiles:
      - frontend
      - all

  # gwas_upload_worker:
  #   image: mrcieu/genotype-phenotype-map:latest
  #   working_dir: /home/pipeline
  #   volumes:
  #     - ./tests/test_data/gwas_upload:/workspace/tests/test_data/gwas_upload
  #     - ../genotype-phenotype-map:/home/pipeline
  #   environment:
  #     - PYTHONPATH=/workspace
  #   env_file:
  #     - ../genotype-phenotype-map/.env
  #   restart: unless-stopped
  #   command: ["Rscript", "worker/pipeline_worker.R"]
  #   profiles:
  #     - all

volumes:
  redis_data: 