<div id="graphOptions" x-data="graphOptions">
  Posterior Probability <span x-text="coloc"></span> <br />
  <input class="slider is-four-fifths mt-0 mb-0" x-model="coloc" step="0.05" min="0.5" max="0.8" value="0.8" type="range">
  <hr class="divider mt-0 mb-0">

  P-value <span x-text="pValue"></span> <br />
  <input class="slider is-four-fifths mt-0 mb-0" x-model="pValue" step="0.1" min="3.8" max="7.3" value="7.3" type="range">
  <hr class="divider mt-0 mb-0">

  <label class="checkbox mt-1"> <input x-model="includeRareVariants" type="checkbox" /> Include Rare Variants </label> <br />
  <label class="checkbox mt-1"> <input x-model="onlyMolecularTraits" type="checkbox" /> Only Molecular Traits </label> <br />
  <div class="control mt-1">
    <label class="radio"> <input type="radio" x-model="cisTrans" value="cis" /> Cis only </label>
    <label class="radio"> <input type="radio" x-model="cisTrans" value="cis_and_trans" /> Cis and Trans </label>
  </div>
</div>